body{
    background-image: url("img/Wallpaper-Old-Paper-WallpaperTag.jpg");

}

.mb-custom {
    margin-bottom: 7rem !important;
}

  

.cuvinte {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    padding: 11px 0px;
    margin: 0 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;  
}



.dropped {
    animation: catalin 1s;
}

@keyframes catalin {
    0% {
      transform: scale(1);
    }
    

    50% {
        transform: scale(5);
    }

    100% {
        transform: scale(1);
    }
}
